{% extends 'tailwind.html' %}

{% block content %}
<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen w-screen lg:py-0">
      <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
          <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">
          RaadWIKI
      </a>
          {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <div class="px-20 py-5">
            <div style="background-color: #D22B2B !important; border-color: #A52A2A; color: white;" class="border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md bg-green" role="alert">
              <div class="flex">
                <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
                <div>
                  <p class="font-bold">Oei!</p>
                  <p class="text-sm">{{ message }}</p>
                </div>
              </div>
            </div>
            </div>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                Wacht op goedkeuring
              </h1>
              <p>Een beheerder gaat je aanvraag nu goedkeuren. Je ontvangt bericht zodra dit is gebeurd. Check ook je ongewenste email!</p>
              <img src="{{ photo }}">
          </div>
      </div>
  </div>
</section>
{% endblock %}