{% extends 'inbox.html' %}
{% block mailbox %}
<div class="col-span-3 overflow-y-auto">
<section class="p-8 flex flex-col bg-white">
      <div class="flex justify-between items-center mb-8 pt-4">
        <div class="flex space-x-4 items-center">
          <div class="h-12 w-12 rounded-full overflow-hidden">
            <img src="{{ get_user(bericht.from).photo_url }}" loading="lazy" class="h-full w-full object-cover" />
          </div>
          <div class="flex flex-col">
            <h3 class="font-semibold text-lg">{{ bericht.from }}</h3>
            <p class="text-light text-gray-400">{{ bericht.from }}</p>
          </div>
        </div>
      </div>
      <section>
        <h1 class="font-bold text-2xl">{{ bericht.subject }}</h1>
        <article class="mt-8 text-gray-500 leading-7 tracking-wider">
            {{ bericht.content }}
        </article>
      </section>
</section>
      {% for reply in replies %}
    <section class=" m-2 p-6 flex flex-col bg-white border-2 rounded-md">
      <div class="flex justify-between items-center">
        <div class="flex space-x-4 items-center">
          <div class="h-12 w-12 rounded-full overflow-hidden">
            <img src="{{ get_user(reply.to_dict().from).photo_url }}" loading="lazy" class="h-full w-full object-cover" />
          </div>
          <div class="flex flex-col">
            <h3 class="font-semibold text-lg">{{ reply.to_dict().from }}</h3>
            <p class="text-light text-gray-400">{{ reply.to_dict().from }}</p>
          </div>
        </div>
        <div>
        </div>
      </div>
      <section>
        <article class="mt-8 text-gray-500 leading-7 tracking-wider">
            {{ reply.to_dict().content }}
        </article>
      </section>
      </section>
    {% endfor %}
      <section class="mt-6 border rounded-xl bg-gray-50 mb-3 border-b-6">
        <form action="{{ url_for('auth.reply', id=id) }}" method="post" name="replyForm">
        <textarea name="content" id="content" class="w-full bg-gray-50 p-2 rounded-xl" placeholder="Type your reply here..." rows="3"></textarea>
        <div class="flex items-center justify-between p-2">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <button type="submit" class="bg-purple-600 text-white px-6 py-2 rounded-xl">Reply</button>
        </div>
        </form>
      </section>
</div>
{% endblock %}