{% extends 'profile_edit.html' %}
{% block profile %}
<div class="grid grid-cols-2 gap-4">
<div class="p-4 lg:pr-2 border-b bg-white dark:border-gray-700 shadow-md sm:rounded-lg">
        <p class="text-xl pb-3 flex items-center">
            <i class="fas fa-check mr-3"></i> Jouw laatste raadzalen: ({{ count }})
        </p>
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-4 py-3">Gemeente</th>
                    <th scope="col" class="px-4 py-3">Raadsleden</th>
                    <th scope="col" class="px-4 py-3">Burgemeester</th>
                    <th scope="col" class="px-4 py-3">Laatst geupdated</th>
                    <th scope="col" class="px-4 py-3">
                        <span class="sr-only">Actions</span>
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for x in rz_query %}
                <tr class="border-b dark:border-gray-700">
                    <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ x.to_dict().gemeente }}</th>
                    <td class="px-4 py-3">{{ x.to_dict().raadsleden }}</td>
                    <td class="px-4 py-3">{{ x.to_dict().bg }}</td>
                    <td class="px-4 py-3">{{ x.to_dict().bg_update.strftime('%d %B %Y') }}</td>
                    <td class="px-4 py-3 flex items-center justify-end">
                        <button id="apple-imac-27-dropdown-button-{{ x.id }}" data-dropdown-toggle="apple-imac-27-dropdown-{{ x.id }}" class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100" type="button">
                            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                            </svg>
                        </button>
                        <div id="apple-imac-27-dropdown-{{ x.id }}" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                            <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="apple-imac-27-dropdown-button">
                                <li>
                                    <a href="{{ url_for('zalen.single_post', id=x.id) }}" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Bekijk</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('zalen.edit_gegevens', id=x.id) }}" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Bewerk</a>
                                </li>
                            </ul>
                            <div class="py-1">
                                <a href="{{ url_for('zalen.delete_raadzaal', id=x.id) }}" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Verwijder</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="p-4 lg:pr-2 border-b bg-white dark:border-gray-700 shadow-md sm:rounded-lg">
        <p class="text-xl pb-3 flex items-center">
            <i class="fas fa-check mr-3"></i> Jouw laatste renovaties: ({{ count_ren }})
        </p>
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-4 py-3">Gemeente</th>
                    <th scope="col" class="px-4 py-3">Architect</th>
                    <th scope="col" class="px-4 py-3">Grootte</th>
                    <th scope="col" class="px-4 py-3">Opleverjaar</th>
                    <th scope="col" class="px-4 py-3">
                        <span class="sr-only">Actions</span>
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for x in ren_query %}
                <tr class="border-b dark:border-gray-700">
                    <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white"><a href="{{ url_for('renovaties.edit', id=x.id) }}">{{ x.to_dict().gemeente }}</a></th>
                    <td class="px-4 py-3">{{ x.to_dict().architect }}</td>
                    <td class="px-4 py-3">{{ x.to_dict().grootte }}</td>
                    <td class="px-4 py-3">{{ x.to_dict().oplever_jaar }}</td>
                    <td class="px-4 py-3 flex items-center justify-end">
                        <button id="apple-imac-27-dropdown-button-{{ x.id }}" data-dropdown-toggle="apple-imac-27-dropdown-{{ x.id }}" class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100" style="z-index: 999 !important;" type="button">
                            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                            </svg>
                        </button>
                        <div id="apple-imac-27-dropdown-{{ x.id }}" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                            <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="apple-imac-27-dropdown-button">
                                <li>
                                    <a href="{{ url_for('zalen.single_post', id=x.id) }}" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Bekijk</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('renovaties.edit', id=x.id) }}" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Bewerk</a>
                                </li>
                            </ul>
                            <div class="py-1">
                                <a href="{{ url_for('renovaties.delete', id=x.id) }}" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Verwijder</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}