{% extends 'base.html' %}

{% block content %}
<div class="container font-sans bg-green-100 rounded mt-8 p-4 md:p-24 text-center">
    <h2 class="font-bold break-normal text-2xl md:text-4xl">Login</h2>
    <h3 class="font-bold break-normal font-normal text-gray-600 text-base md:text-xl">Gebruik je eigen inloggegevens!</h3>
    <div class="w-full text-center pt-4">
        <form action="#">
            <div class="max-w-xl mx-auto p-1 pr-0 flex flex-wrap items-center">

{% for x in form %}
{{ x(class="flex-1 appearance-none rounded shadow p-3 text-gray-600 mr-2 focus:outline-none") }}
{% endfor %}
</div>
</form>
</div>
</div>
{% endblock %}