{% extends 'profile_edit.html' %}

{% block profile %}
          {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <div class="px-20 py-5">
            <div style="background-color: #D22B2B !important; border-color: #A52A2A; color: white;" class="border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md bg-green" role="alert">
              <div class="flex">
                <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
                <div>
                  <p class="font-bold">Oei!</p>
                  <p class="text-sm">{{ message }}</p>
                </div>
              </div>
            </div>
            </div>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                  Wachtwoord reset
              </h1>
              <form class="space-y-4 md:space-y-6" action="{{ url_for('auth.password_reset', id=id) }}" method="post" id="passwordReset" name="passwordReset">
                  <div>
                      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nieuwe wachtwoord</label>
                      <input type="password" name="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="••••••••" required="">
                  </div>
                  <div>
                      <label for="password_repeat" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Herhaal</label>
                      <input type="password" name="password_repeat" id="password_repeat" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                  </div>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                  <input style="background-color: blue;" type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
              </form>
          </div>
      </div>
{% endblock %}