{% extends 'base.html' %}
{% block content %}
<div class="grid grid-cols-4 gap-4 p-20">
{% for x in rz %}
<article class="flex flex-col shadow my-4">
    <!-- Article Image -->
    <a href="{{ url_for('zalen.single_post', id=x.id) }}" class="hover:opacity-75" style="height: 300px; background: url('{{ rzi_url(x.id) }}'); background-size: cover;">
    </a>
    <div class="bg-white flex flex-col justify-start p-6">
        <a href="#" class="text-blue-700 text-sm font-bold uppercase pb-4">{{ x.to_dict().bg }}</a>
        <a href="#" class="text-3xl font-bold hover:text-gray-700 pb-4">{{ x.to_dict().gemeente }}</a>
        <p href="#" class="text-sm pb-3">
            {{ x.to_dict().updated.strftime('%d %B %Y') }}
        </p>
    </div>
</article>
{% endfor %}
    </div>
{% endblock %}