{% extends 'base.html' %}

{% block content %}

<div class="w-full lg:w-1/2 my-6 pr-0 lg:pr-2 p-20">
    <p class="text-xl pb-6 flex items-center">
        <i class="fas fa-list mr-3"></i> Gegevens raadzaal
    </p>
    <div class="leading-loose">
        <form class="p-10 bg-white rounded shadow-xl" action="{{ url_for('add.add_image', id=id) }}" method="post">
            {% for x in form %}
            <div class="mt-2">
            {{ x.label(class="block text-sm text-gray-600") }}
            {{ x(class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded") }}
            </div>
            {% endfor %}
        </form>
    </div>
</div>

{% endblock %}
